*{
    padding: o;
    margin: o;
    box-sizing: border-box;
}

.container{
    display: flex;
    
}

.box-one img{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 50px;
    display: flex;
    background-color: brown;
    
}
.box-two img{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 50px;
    display: flex;
    background-color: brown;
    
}
.box-three img{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 50px;
    display: flex;
    background-color: brown;
    
}
.box-four img{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 50px;
    display: flex;
    background-color: brown;
    
}
.box-five img{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 50px;
    display: flex;
    background-color: brown;
    
}

